form.container {
    margin-top: 30vh;
    display: flex !important;
    align-items: center !important;
}

input {
    width: 525px !important;
    padding-inline: 10px;
    padding-block: 10px;
    /* display: block; */
    /* align-self: center; */
    /* text-align: center; */
}

button {
    margin: 1rem;
    padding: 10px;
}